.bg-img{
    background-image: url(./images/bg-1.png), url(./images/bg-2.png);
    background-color: whitesmoke;
    background-repeat: no-repeat;
    background-position: center, left bottom;
}
.carousel-item{
    padding: 40px 40px;
}
.bn-button{
    background-color: black;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 25px;
    cursor: pointer;
}
.spece{
    margin-top: 100px;
}
.s-all-color{
    color: orange;
}
.card{
    box-shadow: 5px 5px 10px lightgray;
    border: none;
    border-radius: 10px;
}
h4, h5{
    font-weight: bold;
}
h3{
    font-weight: bolder;
}